@charset "utf-8";
@font-face {font-family:'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
	@font-face {font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
*{margin:0; padding:0;}
ol,ul,li{list-style:none;}
a,a:link,a:visited,a:hover,a:active{text-decoration:none; color:#666;}
body{font-size:14px;}
.clear::after{
	content:''; display:block; clear:both; width:0; height:0; visibility:hidden;
}
.wrap{
	width:1280px;
	margin:0 auto;
}
h2{
	font-size:50px;
	font-family: 'OTEnjoystoriesBA';
	padding:10px;
	margin:0 auto;
	text-align:center;
}
header{
	text-align:center;
	border-bottom:5px solid #0c2162;
	margin-bottom:50px;
}
section{margin:50px auto;}
section:nth-of-type(2){margin:100px auto;}
h1{height:95px;}
#gnb{ height:45px;}
#gnb>li{
	display:block;
	float:left; width:256px;
	padding:15px 0;
	height:15px;
	text-align:center;
	line-height:15px;
}
#gnb>li:hover{
	background:#0c2162;
}
#gnb>li:hover>a{
	color:#fff;
}
#concept{
	width:850px; height:450px;
	margin:0 auto;
	background:url('../images/poster1.jpg') 0 0 no-repeat;
}
#concept h2{text-align:left; display: block; width: 500px; margin-left:330px;}
#concept p{
	width:520px;
	line-height:1.8;
	margin:0 0 10px 330px;
}
#character>.wrap{width:1000px; margin:0 auto;
}
#character{text-align:center;}
#character_list>li:nth-child(n+3){float:left;}
#character_list>li.large_img>h3{font-size:24px; margin:20px;}
#character_list img{width:320px;}
#character_list>li.large_img>img{width:850px;}
#character_list>li.large_img>p:nth-of-type(2){
	width:650px;
	margin:15px auto;
	text-align:left;
	line-height:1.8;
}
#character_list>li>p:last-child{
	width:102px; height:35px;
	border:1px solid #08298a;
	box-sizing:border-box;
	margin:20px auto;
	color:#08298a; line-height:30px;
}
#character_list>li>p:last-child:hover{
	background:#08298a;
	color:#fff;
}
#character_list>li.large_img>p:last-child{
	width:152px; height:45px;
	border:1px solid #8a084b;
	box-sizing:border-box;
	color:#8a084b; line-height:42px;
}
#character_list>li.large_img>p:last-child:hover{
	background:#8a084b;
	color:#fff;
}
#character_list>li>p:nth-of-type(1){
	text-align:center;
	font-style:italic;
	font-weight:bold;
	color:#08298a;
	margin-top:20px;
}
#character_list>li.large_img>p:nth-of-type(1){
	text-align:center;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
	color:#8a084b;
}

#spot_list>li{
	float:left; height:190px;
	width:240px;
	margin:0 20px 20px 0;
	border:1px solid #999;
	box-sizing:border-box;
} 
#spot_list>li:nth-child(5n){margin-right:0;} 
#spot_list>li img{width:237px;}
#spot_list>li h3{padding:0px 20px; color:#333;}
#spot_list>li:hover{border-color:#8a084b;}
#spot_list>li:hover h3{color:#8a084b;}

footer{
	text-align:center;
	background:#eee;
	margin:50px auto 0;
}
footer ul{padding:20px 0; margin:0 auto; width:900px;}
footer li{float:left; margin:0 auto;}
footer li>a{padding:0 20px; border-right:1px solid #333;}
footer li:last-child>a{border-right:0;}
address p{
	font-style:normal;
	line-height:2;
}
address{padding-bottom:50px;}
