@charset "utf-8";
@import "layout.css";
.clear::after{
	content:''; display:block; clear:both; width:0; height:0; visibility:hidden;
}
.title_style{border:3px solid #ccc;}
.title_style>div{
	border-bottom:3px solid rgba(170,255,160,0.8);
	box-sizing:border-box;
	margin:10px 10px 0 10px;
	padding-bottom:10px;
}
.title_style img{display:inline-block; float:right; padding:6.5px;}
.title_style h3{
	color:#333;
	font-weight:bold;
	display:inline-block;
}
.title_style>ul>li{	
	padding-left:10px;
	margin:5px 0;
	font-size:1.5rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.title_style>ul>li>a{display:block; margin:0 20px 3px 5px;}	
.title_style>ul>li time{font-size:1.2rem; float:right;}
footer{
	width:100%;
	margin:50px auto 0; 
	background:#ccc;
}
footer>p{padding:30px 00 40px 0; text-align:center; line-height:2;}