@charset "utf-8";
*{margin:0; padding:0; list-style:none;}
a,a:link,a:visited,a:hover,a:active{text-decoration:none; color:#fff;}
.clear::after{
	content:''; display:block; clear:both; width:0; height:0; visibility:hidden;
}

.wrap{width:1440px; margin:0 auto;}
header{width:100%; border-bottom:1px solid #b3a686; z-index:99;}
#util>div>ul>li:last-child,.close_btn,.search_btn{cursor:pointer;}
.black{
	display:none;
	width:100%; height:300px; 
	background:rgba(0,0,0,.9);
	position:absolute;
	top:50px; z-index:9999;
}
.black>input{
	padding:10px 0 10px 50px;
	display:block; position:absolute;
	left:50%; top:50%;
	transform:translate(-50%,-50%);
	width:700px;
	border:0; border-bottom:1px solid #fff;
	color:#ccc; background:none;
}
.black>img.search_btn{
	position:absolute;
	left:50%; top:50%;
	transform:translate(390px,-50%);
	width:30px;
	color:#fff; background:none;
}
.black>img.close_btn{
	position:absolute;
	left:50%; top:50px;
	transform:translateX(620px);
	width:50px;
	color:#fff; background:none;
}

#util{
	width:100%; height:50px;
	line-height:50px; vertical-align:middle;
	background:#918b8d;
	color:#fff; position:relative;
}
#util>div>ul{float:right;}
#util>div>ul>li{
	margin:0 50px; float:left;
	line-height:50px; height:50px;
}
#util>div>ul>li>img{vertical-align:middle;}
#util h3, h2{
	width:0; height:0;
	overflow:hidden;
	text-indent:-99999px;
	visibility:hidden;
	display:none;
}
.menu *{color:#918b8d !important;
	font-size:1.5rem; font-weight:600;
	text-transform:uppercase;
	z-index:99;
}
.menu>li{
	float:left; position:relative;
	width:calc(1440px/6); height:100px;
	line-height:100px; text-align:center;
}
.menu>li:nth-last-child(n+2):hover>a::after{
	content:''; display:block;
	width:60%; height:3px; 
	position:absolute;
	top:75px; left:50%; 
	transform:translateX(-50%);
	background:#918b8d;
}
.menu>li img{vertical-align:middle;}
.submenu{ display:none; background:#fff;
	width:100%; box-sizing:borde-box;
	border:1px solid #b3a686; z-index:99999; 
}
.submenu>li{width:100%;}

#bnr{position:relative;}
.rel{
	height:500px; overflow:hidden;
	position:relative;
}
.back{
	width:4320px; height:500px;
	position:absolute; left:-100%;
}
.back>li{
	width:1440px; height:500px; float:left;
	background:url() center center/auto 100% no-repeat; z-index:10;
}
.back>li{width:1440px; float:left; position:relative;}
.back>li.first{background-image:url('../images/visual_bn01.jpg');}
.back>li>a{
	width:864px; height:475px; 
	position:absolute;
	top:0; left:288px;
}
.back>li.second{background-image:url('../images/visual_bn02.jpg');}
.back>li.third{background-image:url('../images/visual_bn03.jpg');}
.bnr_btn{
	position:absolute; 
	top:0; left:0;
	width:100%; height:500px;
}
.bnr_btn>button{
	border:0; cursor:pointer;
	position:absolute; display:block;
	z-index:99;
}
.bnr_btn>button:nth-of-type(1){
	width:288px; height:500px;
	left:0; top:0;
	background:none;
}
.bnr_btn>button:nth-of-type(1)::before{
	content:'';
	display:block; position:absolute;
	left:10px; bottom:261px;
	width:50px; height:3px;
	transform:rotate(-30deg);
	background:#918b8d;
}
.bnr_btn>button:nth-of-type(1)::after{
	content:'';
	display:block; position:absolute;
	left:10px; top:261px;
	width:50px; height:3px;
	transform:rotate(30deg);
	background:#918b8d;
}
.bnr_btn>button:nth-of-type(2){
	width:288px; height:500px;
	right:0; top:0;
	background:none;
}
.bnr_btn>button:nth-of-type(2)::before{
	content:'';
	display:block; position:absolute;
	right:10px; bottom:261px;
	width:50px; height:3px;
	transform:rotate(30deg);
	transform:tanslateY(50%);
	background:#918b8d;
}
.bnr_btn>button:nth-of-type(2)::after{
	content:'';
	display:block; position:absolute;
	right:10px; top:261px;
	width:50px; height:3px;
	transform:rotate(-30deg);
	background:#918b8d;
}
.bnr_btn>ul>li{
	width:100px; height:5px;
	border:10px #fff solid;
	bottom:0; z-index:999;
	background:#918b8d; cursor:pointer;
	position:absolute; display:block;
}
.bnr_btn>ul>li:nth-of-type(1){right:780px; background:#634636;}
.bnr_btn>ul>li:nth-of-type(2){right:660px;}
.bnr_btn>ul>li:nth-of-type(3){left:780px;}


#premium{height:360px; margin:100px auto;}
#premium li{
	width:350px; height:350px;
	float:left; position:relative;
	margin:5px 5px;
}
#premium li>div{
	padding:120px 80px;
	width:190px; height:110px;
	background:rgba(0,0,0,.6);
	display:none;
	position:absolute;
	left:0; top:0;
}
#premium li:hover>div{
	display:block;
}
#premium li p{
	color:#fff;text-align:center; 
	font-size:1.5em; font-weight:bold;
}

#macallan{text-transform:uppercase;}
#macallan>div{
	width:220p; height:850px;
	float:left;
	left:0; top:10px;
}
#macallan>div>h3{line-height:2; font-size:1.5em;}
#macallan>ul{
	float:right;
	width:1100px; height:850px;
}
#macallan>ul>li{
	float:left;
	width:300px; height:395px;
	margin:0 50px 30px;
}
#macallan>ul>li:nth-child(3n){margin-right:0;}
#macallan>ul>li:nth-child(3n+1){margin-left:0;}
#macallan>ul>li:nth-child(n+4){margin-bottom:0;}
#macallan>ul>li p{line-height:2; text-align:center;}
#macallan>ul>li p:last-child{font-weight:bold;}
#macallan>ul>li>div{
	border-bottom:1px solid #ccc; width:300px;
}
#macallan>ul>li img{border:1px solid #ccc; width:300px;}


#glenmorangie{text-transform:uppercase; margin:100px auto;}
#glenmorangie>div{
	width:220p; height:850px;
	float:left;
	left:0; top:10px;
}
#glenmorangie>div>h3{line-height:2; font-size:1.5em;}
#glenmorangie>ul{
	float:right;
	width:1100px; height:850px;
}
#glenmorangie>ul>li{
	float:left;
	width:300px; height:395px;
	margin:0 50px 30px;
	border-bottom:1px solid #ccc; 
}
#glenmorangie>ul>li:nth-child(3n){margin-right:0;}
#glenmorangie>ul>li:nth-child(3n+1){margin-left:0;}
#glenmorangie>ul>li:nth-child(n+4){margin-bottom:0;}
#glenmorangie>ul>li p{line-height:2; text-align:center;}
#glenmorangie>ul>li p:last-child{font-weight:bold;}
#glenmorangie>ul>li p:first-child{color:#333;}
#glenmorangie>ul>li>div{width:300px; margin-top:10px;}
#glenmorangie>ul>li img{border:1px solid #ccc; width:300px;}
#hr{background:#ccc; height:1px;}

footer{
	margin-top:100px;
	position:relative;
	width:100%; height:300px;
	line-height:2;
	background:#918b8d;
	color:#fff;
}
footer>*{
	position:absolute;
	top:30px; left:50%;
}
footer>ul{width:300px;}
footer>ul:nth-child(1){transform:translateX(-720px);}
footer>ul:nth-child(2){transform:translateX(-350px);}
footer>div>div{
	margin-top:5px;
}
footer>div img{height:128px;}
footer>div ul{
	position:absolute;
	top:37px; left:40px;
}
footer>div ul p{font-size:0.9em; line-height:2.2em;}
footer>address{
	top:50%; transform:translateX(350px);
	line-height:0; font-style:normal;
}